<a href="https://colab.research.google.com/github/Siddhesh-3/Python/blob/main/udemy/Advanced_DataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Advance Datatypes
List
Tuple
sets
Dictionary
Compound Data Structures

In [ ]:
#List(mutable)

list = [1,2.5,"hello",False]
print(list)

[1, 2.5, 'hello', False]

In [ ]:
#list programe
list_quiz = [ 100 , 30 , 2 , 15 , -4 , 3 , 40 , -9 , 10]
 
## Task 1
last_4 = list_quiz[-4 : ]
## Task 2 
max_val = max(list_quiz)
## Task 3 
sorted_list = sorted(list_quiz)
## Task 4
added_list = list_quiz + sorted_list

In [ ]:
#string are immutable

list = [1,2,3]
list[0] = "sid"  #insert at index 0
print(list)

['sid', 2, 3]

In [ ]:
string1 = "Hello"
 #string1[0] = "A"  # you cannot change value (immutable)

In [ ]:
#Tuples(immutable)

tuple = (1,2,3,4)
print(tuple)
#indexing same as list

(1, 2, 3, 4)

2

In [ ]:
# tuple[0] = "55" #can't assign bcoz immutable

TypeError: ignored

In [ ]:
#ex .count 4 in tuple
tuple_exer = (1,6,4, 10 , 2 , 100, 4 , "hi", 104.2 , 4)

tuple_four_count = tuple_exer.count(4)

In [ ]:
#Sets(mutable)
#set can not indexed
#set doesnt have any order

set = {1,2,3,4}
print(set)

{1, 2, 3, 4}

In [ ]:
set.add(5) #adding in set
print(set)

{1, 2, 3, 4, 5}

In [ ]:
set.pop() #FIFO
print(set)

{2, 3, 4, 5}

In [ ]:
newset = {1, 2.5 , "s",1}
print(set) #only add unique element
#no Repeated element
newset.pop() #print deleted element

{2, 3, 4, 5}

1

In [ ]:
#Dictionary(mutable)
#Key-Value pair data structure
#index with key

dict = { 1 : "siddhesh","sid" : 4,2.1 : ["a",5,2.1]}
print(dict[1]) #here 1 is key
print(dict[2.1])

siddhesh
['a', 5, 2.1]

In [ ]:
#to check key is exist or not
print(1 in dict) #check True or False

True

In [ ]:
print(dict.get(1))

siddhesh

In [ ]:
newdict = { 1 : "sid", "sid" : 4.2,2 :["hello",2]}

print(newdict[2])

['hello', 2]

In [ ]:
#ex
grocery_items = {}
grocery_items['Apple'] = 4
grocery_items['Banana'] = 6
grocery_items['Cucumber'] = 2
grocery_items['Pizza'] = 2
grocery_items['Chocolate'] = 3
grocery_items[1] = 'siddhesh'
print(grocery_items)

{'Apple': 4, 'Banana': 6, 'Cucumber': 2, 'Pizza': 2, 'Chocolate': 3, 1: 'siddhesh'}

In [ ]:
#When Use Datatypes
#list = when do not have special cases and we want our list to be order for
#tuples = value inside them not changed no matter what
#dictionaries = when we want to have some sort of relation ben some unique
                #varibles and non-unique var,we only conserd with key
#set = when you know any repeated data will be redundant So sets can be very efficient in ignoring redundatnt data and increse performance in algorithum

In [ ]:
#Compond Data Types

mylist = [ {1 :["ahm","ca","bh"]} ,[2,(3,4,8), 4], "ahemed"]

mylist[0][1][0]

'ahm'

In [ ]:
mylist[1][1][1]

4

In [ ]:
sid =""
so = "fu"

type(sid)

str