<a href="https://colab.research.google.com/github/Siddhesh-3/Python/blob/main/udemy/Map_%26_Filter_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
########################### MAP FUNCTION ##########################

In [ ]:
def add_l(list):
  output_list = []
  for i in list:
    i = i +5
    output_list.append(i)
  return output_list

In [ ]:
list_my = [11,5,8,4]
add_l(list_my)

[16, 10, 13, 9]

In [ ]:
#using map
def add(element):
  return element + 5
output = map(add , list_my)

In [ ]:
next(output)

16

In [ ]:
output = map(lambda element : element + 5 ,list_my)

In [ ]:
list_n = [11,5,8,4]
float_conv =map(float , list_n)

In [ ]:
a = (list(float_conv))

In [ ]:
print(a)

[11.0, 5.0, 8.0, 4.0]

In [ ]:
pow(2,3) #power

8

In [ ]:
my_list = [5,1,20]
pow_list = [2,3,2]

list( map(pow ,my_list , pow_list)) #map

[25, 1, 400]

In [ ]:
def add_tog(x,y):
  return x+y

In [ ]:
list( map(add_tog ,my_list,pow_list)) #map

[7, 4, 22]

In [ ]:

input_list = ['What we think, we become.', 'Every moment is a fresh beginning.', 'Change the world by being yourself.',
             'Hate comes from intimidation, love comes from appreciation', 'If I’m gonna tell a real story, I’m gonna start with my name.', 'Oh, the things you can find, if you don’t stay behind.']


mapped_list = list(map(lambda x: x.count("n"), input_list))
print(mapped_list)

[1, 4, 2, 3, 5, 5]

In [ ]:
#Filter Function

def pass_grades(grade_list):
  pass_grade_list = []
  for grade in grade_list:
    if grade > 50 :
      pass_grade_list.append(grade)
  return pass_grade_list

In [ ]:
grade_list = [45,70,80,15,56]

In [ ]:
pass_grades(grade_list)

[70, 80, 56]

In [ ]:
#above using filter

def pass_grade(grade):
  return grade > 50

In [ ]:
pass_grade = list(filter(pass_grade, grade_list))

TypeError: ignored

In [ ]:
print(pass_grade)

[70, 80, 56]

In [ ]:
# code in one line
pass_grade = list(filter(lambda grade : grade > 50, grade_list))  
print(pass_grade)

[70, 80, 56]

In [ ]:
#exercise
grades = [ 92 , 80 , 97, 65 , 85 , 91]
def A_students(grad):
    return grad > 90
 
A_grades = list(filter(A_students, grades))
print(A_grades)

[92, 97, 91]

In [ ]:
list_quiz = [ 120 , 31 , 19 , 28 , 512 , 957 , 6321 ]

list_even = list(filter(lambda num : num % 2 == 0,list_quiz))
print(list_even)

[120, 28, 512]