<a href="https://colab.research.google.com/github/Siddhesh-3/Python/blob/main/udemy/Pandas_Series_2_(Manipulation).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

di = {"2" : 1,"key" : 5 , "door" : "widows"}

series_dict = pd.Series(di)
print(series_dict)

2            1
key          5
door    widows
dtype: object

In [3]:
#index

print(series_dict["key"]) #index key value
print(series_dict[1]) #index

5
5

In [4]:
#Mutable

series_dict["key"] = 10
print(series_dict)

2            1
key         10
door    widows
dtype: object

In [5]:
#more than one index

print(series_dict[[0,1]]) #print 0 and 1 index location

2       1
key    10
dtype: object

In [8]:
print(series_dict.iloc[0:1]) #print index 0 to 1 but not 1

2    1
dtype: object

In [9]:
print(series_dict.loc[ "2" : "key"]) #print key "2" and "key"

2       1
key    10
dtype: object

In [11]:
#drop element

drop = series_dict.drop(labels= "2")
print(drop)

key         10
door    widows
dtype: object

In [12]:
#inplace
series_dict.drop(labels= "2", inplace = True)
print(series_dict)

key         10
door    widows
dtype: object

In [15]:
#Mathematical Operations

series_1 = pd.Series([ 1 , 5 , 2 ])
series_2 = pd.Series([ 10 , 3, 5])

#using loop

current_series_add = pd.Series()

for i in range (len(series_1)):
  current_series_1 ,current_series_2 = series_1[i],series_2[i]
  current_series = current_series_1 + current_series_2
  current_series = pd.Series(current_series , index = [i])
  current_series_add = current_series_add.append(current_series)
print(current_series_add)

0    11
1     8
2     7
dtype: int64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

In [16]:
#using pandas

print(series_1.add(series_2))

0    11
1     8
2     7
dtype: int64

In [17]:
print(series_1.sub(series_2))

0   -9
1    2
2   -3
dtype: int64

In [19]:
import pandas as pd
pd_series1 = pd.Series([3, 5, 2, 4, 6])
pd_series2 = pd.Series([2.4, 7, 3, 5, 11])

## add

pd_add = pd_series1.add(pd_series2)
print(pd_add)
## subtract

pd_sub = pd_series1.sub(pd_series2)
print(pd_sub)

## multiply

pd_mul = pd_series1.mul(pd_series2)
print(pd_mul)
## divide

pd_div = pd_series1.div(pd_series2)
print(pd_div)

0     5.4
1    12.0
2     5.0
3     9.0
4    17.0
dtype: float64
0    0.6
1   -2.0
2   -1.0
3   -1.0
4   -5.0
dtype: float64
0     7.2
1    35.0
2     6.0
3    20.0
4    66.0
dtype: float64
0    1.250000
1    0.714286
2    0.666667
3    0.800000
4    0.545455
dtype: float64