<a href="https://colab.research.google.com/github/Siddhesh-3/Python/blob/main/udemy/Python_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Python functions

In [ ]:
#help

help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
#Defining Functions

#cant use spaces or special character
#cant use python kewords or build in function names

In [ ]:
#Optinal input

def multiply(x , y, z = 5): # z=5 optional input
    print(z)

In [ ]:
def multiply(x,y):
  result = x * y
  return result

In [ ]:
multiply(2,5)#function name call function

10

In [ ]:
input_1 = 10 ## Don't modify this 
input_2 = 40 ## Don't modify this. 

## TODO:
## Implement a function called sum_fun  that takes two inputs and returns their sum.
def sum_fun(input_1,input_2):
    sum = input_1 + input_2
    return sum
    
result = sum_fun(input_1,input_2)
print(result)

50

In [ ]:
## Don't modify this
power  = 2
number = 4

def raise_to_power(number,power):
    p = number ** power
    return p
    
raise_to_power(number,power)

16

In [ ]:
students_names = [ "Micheal Ford", "John Buch" , "Isra Raul", "Messi Ronaldo"]
 
students_grades = [ 80 , 53 , 90 , 100]
 
 
def link_names_grades(students_names , students_grades ):
    names_grades = {}
    for x , y in zip(students_names , students_grades):
        names_grades[x] = y
    return names_grades
link_names_grades(students_names , students_grades )

{'Isra Raul': 90, 'John Buch': 53, 'Messi Ronaldo': 100, 'Micheal Ford': 80}

In [ ]:
numbers = [10, 20 , 17 , 13 ]
even_or_odd = True

def filter_even_odd(numbers , even_or_odd):
    filtered_list  = []
    for i in numbers:
        if i % 2 == even_or_odd:
            filtered_list.append(i)
    return filtered_list  

filter_even_odd(numbers , even_or_odd)

[17, 13]

In [ ]:
#global and local

global result1

def mul(x,y):
  result1 = x + y
  return result1

In [ ]:
print(mul(2,2))

4

In [ ]:
print(result1)

NameError: ignored

In [ ]:
#What is the output of the following code:

ball_count = 0
 
def count_balls(ball_count):
    ball_count += 6 
    return ball_count
 
print(count_balls(ball_count))

6