<a href="https://colab.research.google.com/github/Siddhesh-3/Python/blob/main/udemy/Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Strings

#loop with string 

fruit = 'banana'

index = 0

while index < len(fruit):
    letter = fruit[index]
    print(index,letter)
    index += 1

0 b
1 a
2 n
3 a
4 n
5 a

In [ ]:
#for loop for  iteration varible
for letter in fruit:
    print(letter)

b
a
n
a
n
a

In [ ]:
word = 'banana' 
count = 0
for letter in word :
  if letter == 'a' :
    count = count + 1
    print(count)

1
2
3

In [ ]:
#String Slicing

s = 'Hello World'
print(s[0:4]) #look its printing only three word
print(s[6:7]) 
print(s[6:20]) #Give no traceback end at 11

print(s[:2]) #print letters before index 2
print(s[8:]) #print letter after index 8
print(s[:]) #print all

Hell
W
World
He
rld
Hello World

In [ ]:
#String Manipulation

fruit = 'banana'

'm' in fruit  #check if m is in banana 

'nan' in fruit

if 'a' in fruit :
  print('Found it !')

Found it !

In [ ]:
#string comparison
word = 'banana'
if word == 'banana' :
  print('All right,bananas') #this if compare string

if word < 'banana' :
  print('Your word,'+ word +',comes before banana') #this also compare if less than banana

if word > 'banana' :
  print('Your word,'+ word +',comes after banana')

All right,bananas

In [ ]:
#String Library
greet = 'HeLlo Bob'
zap = greet.lower() #print lower case
print(zap) 
#or
print('HELLO'.lower())

hello bob
hello

In [ ]:
stuff = 'Hello WORLD'
type(stuff)
dir(stuff) #shows what can you do with this datatype

In [ ]:
#i.e
name = "siddhesh"
print(name.capitalize()) #first letter capital
print(name.upper())

Siddhesh
SIDDHESH

In [ ]:
#searching string

string = 'hello world'
pos = string.find('lo')
print(pos)
print(string.find('k')) #return -1 did not find

3
-1

In [ ]:
#Search and Replace
name = 'Hello Sid'
var = name.replace('Sid','Jay')
print(var) 

var1 = name.replace('o','X')
print(var1)

Hello Jay
HellX Sid

In [ ]:
#Stripping Whitespace

name = "   siddhesh  sid"
name.lstrip() #left strip
name.rstrip() #right
name.strip()

'siddhesh  sid'

In [ ]:
#Prefixes
line = 'Please have a nice day'
line.startswith('Please')

True

In [ ]:
#Parsing and extracting
data = 'From stephen.marquard@uctt.ac.za Sat Jan 5 09:14:16 2008'
atposition = data.find('@')
print(atposition) #tell position

atposition2 = data.find(' ',atposition)
print(atposition2)

host = data[atposition+1 : atposition2] # +1 for remove @
print(host)

21
32
uctt.ac.za

In [ ]:
#String Slicing

string ="sidhesh gaykar"

print(string)
print(string[0:6])
print(string[0:20:3]) #here 3 is used to select every 3rd string in 20
print(string[-1]) #negative indexing
print(string[-5:-1])

sidhesh gaykar
sidhes
shhaa
r
ayka

In [ ]:
#string functions
string.count("a")
string.find("e")

2

In [ ]:
len(string) #calculate total length of string
print(string.rfind("r")) #last occurance of string

13

In [ ]:
#Boolean
x = True
print(x)
y = False
print(y)

True
False

In [ ]:
#printing
x = 5
print(f"Value is {x}")

Value is 5

In [ ]:
str = "{hello} is teaching programing"
str.format(hello ="siddhesh")

'siddhesh is teaching programing'