<a href="https://colab.research.google.com/github/Siddhesh-3/Python/blob/main/udemy/Zip_Enumerate_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Zip Function

list1 = [1, 2 ,3 , "sid"]
list2 = [44 , 55 ,88 , 99]

ziplist = zip(list1,list2)
#print(ziplist) #it show object
#use
print(list(ziplist))

[(1, 44), (2, 55), (3, 88), ('sid', 99)]

In [ ]:
for i1,i2 in ziplist:
      print(i1,i2)

In [ ]:
#What will be the output of the following code :

list_quiz = [ 1, 2, 10 , 5]
dict_quiz = { "quiz": 3 , 4 : 9}
tuple_quiz = (6 , 8 , 12 )
for x,y,z in zip(list_quiz, dict_quiz , tuple_quiz):
     print(x,y,z)

1 quiz 6
2 4 8

In [ ]:
students_names = [ "Micheal Ford", "John Buch" , "Isra Raul", "Messi Ronaldo"]

students_grades = [ 80 , 53 , 90 , 100]

names_grades = {}

for x,y in zip(students_names,students_grades):
    names_grades[x] = y
    print(names_grades)

{'Micheal Ford': 80}
{'Micheal Ford': 80, 'John Buch': 53}
{'Micheal Ford': 80, 'John Buch': 53, 'Isra Raul': 90}
{'Micheal Ford': 80, 'John Buch': 53, 'Isra Raul': 90, 'Messi Ronaldo': 100}

In [ ]:
#Enumerate Function

my_list12 = [1, 2, 's' ,3.1]

In [ ]:
for i ,c in enumerate(my_list12):
  print(i) #index
  print(c) #value
  print("")

0
1

1
2

2
s

3
3.1

In [ ]:
names = [ "Rachael Green", "Goodfellow Ian", "Tedd Crock", "Mina Joseph"]
salaries = [10260 , 41571 , 71211 , 52141 , 35781]
people_salaries = []

for i , j in enumerate(names):
    x = j + " $" + str(salaries[i])
    people_salaries.append(x)
    print(people_salaries)

['Rachael Green $10260']
['Rachael Green $10260', 'Goodfellow Ian $41571']
['Rachael Green $10260', 'Goodfellow Ian $41571', 'Tedd Crock $71211']
['Rachael Green $10260', 'Goodfellow Ian $41571', 'Tedd Crock $71211', 'Mina Joseph $52141']

In [ ]:
#List Comprehensions

list = []
for i in range(20):
  list.append(i)
print(list)

#use of list comp ->

list_comp = [ i for i in range(10)]
print(list_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
students_dict = { 
                    "Joel Corry" : 70,
                    "James Bond" : 90,
                    "Fatma Ahmed": 20,
                    "Lily Saqr"  : 94,
                    "Ahmed Yan"  : 40,
                }
passed_students_names = [name.split()[0] for name, x in students_dict.items() if x > 50]
print(passed_students_names)

'''
#above loop
for name, x in students_dict.items():
  if x > 50 :
    print(name.split()[0],end =" ")
'''

['Joel', 'James', 'Lily']

'\n#above loop\nfor name, x in students_dict.items():\n  if x > 50 :\n    print(name.split()[0],end =" ")\n'

In [ ]:
#Split function
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']